<div style="text-align: center;">
  <h1>Prueba del componente cronometro</h1>
  <!-- Se agrega el componente cronometro con dos atributos y se le asignan valores específicos a ambos. -->
  <!-- Inicio: Indica que el cronometro comenzará en 15 segundos -->
  <!-- multiplo10: regitstra un evento que se produce cada vez que el cronómetro alcanza los 10 segundos. 
  si esto sucede, llama al método actualizar y se pasa el evento ($event) como argumento. -->
  <app-cronometro [inicio]="15" (multiplo10)="actualizar($event)"></app-cronometro>
  <h2>Evento</h2>
  <!-- muestra el valor de la variable mensaje (tiempo de multipolos de 10 y la cadena)-->
  <h3>{{mensaje}}</h3>
</div>